@{
    ViewBag.Title = "For You";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div>        
            @Html.Partial("_News")
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/ajax")
}
